.header-container{
    background-color: #222222;
    color: #1EAEDB;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid;
    border-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width:680px) {
    .header-container{
        max-width: 680px;
        justify-content: flex-start;
    }
    .navigation{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

@media screen and (max-width:360px) {
    .header-container{
        max-width: 360px;
    }
}

a.logo-link{
    position:relative;
    top: 20%;
}
div.logo{
    vertical-align: middle;
}

.logo-container{
    max-height:100%;
    width:250px;
}

div.logo-text{
    float:left;
}


img.logo{
    width: 40px;
    height: 40px;
}

div.logo-image{
   float:left;
}

