<div class='header-container'>
       <a class="logo-link" [routerLink]="['home']">
         <div>
            <div class="logo-image">
              <img class='logo'  src="./assets/images/logo.svg" alt="PrismSoft">
            </div>
            <div class="logo-text">
              <span>PrismSoft</span>
            </div>
         </div>
      </a>
      <div class="navigation">
        <prism-menu></prism-menu>
      </div>
</div>

