<ul class="navbar-links" [ngClass]="{'responsive': open }">
        <li class="icon">
          <a href="javascript:void(0);" (click)="toggle()">☰</a>
        </li>
          <li><a [routerLink]="['team']" (click)="toggle()">
                <img src="./assets/images/team.svg"/>
                <span>Team</span>
            </a>
          </li>
          <li><a [routerLink]="['services']" (click)="toggle()">
                <img src="./assets/images/services.svg"/>
                <span>Services</span>
              </a>
          </li>
          <li><a [routerLink]="['contact']" (click)="toggle()">
              <img src="./assets/images/contact.svg"/>
              <span>Contact</span>
            </a>
          </li>
</ul>