
ul.navbar-links {
    list-style-type: none;
    transition: all 0.3s ease 0s;
}

ul.navbar-links li {
    float: left;
    max-height: 100%;
    fill: #1EAEDB;
}


ul.navbar-links li a {
    display: block;
    padding: 16px;
    text-decoration: none;
}

ul.navbar-links li a:hover {
   font-weight: 600;
}

ul.navbar-links li.icon {
    display: none;
}

ul.navbar-links a span {
    top: -7px;
    position: relative;
}

li.icon a {
    font-size: 20px;
}

img {
    width: 25px;
    height: 25px;
}



svg{
    fill:gray;
}

@media screen and (max-width:680px) {
    ul.navbar-links li:not(:first-child) {
        visibility: hidden; 
        float: none;
    }

    ul.navbar-link{
        position: relative;
        float: left;
        min-width: 150px;
    }
    ul.navbar-links li.icon {
       display: inline-block;
       float: right;
       margin-left:80px;
    }
    ul.navbar-links li.icon a:hover{
        font-weight: normal;
    }
    ul.navbar-links.responsive{
        background-color: #222222;
        border-bottom: 1px solid black;
    }

    ul.navbar-links.responsive li:not(:first-child) {
       display: block;
       float: none;
    }

    ul.navbar-links.responsive li a {
        visibility: visible; 
        text-align: left;
    }
    
    .left-border{
        border-left: 1px solid black;
    }
}