<div class="card">
  <div class="icon-container blue-heading">
    <ng-content select="[iconContainer]"></ng-content>
  </div>
  <div class="blue-text">
    <ng-content select="[infoContainer]"></ng-content>
  </div>
</div>