.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    min-width: 150px;
    min-height: 600px;
}

.icon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info{
    text-align: center;

}