<prism-card-info>
  <div iconContainer>SPA</div>
  <div infoContainer>
    <div>
      We are experienced in creating single page web applications using cutting edge technologies.
    </div>
    <div>
      Angular, Angular 2, React. You name it!\
    </div>
  </div>
</prism-card-info>