div.presentation{
    position:relative;
    height:100%;
    width: 1780px;
    background-color: #27313D;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.presentation-image-container{
    max-height:100%;
    width:50%;
}

.presentation-image{
    max-height:100%;
    opacity: 0.5;
}

div.presentation-text-container{
    height:100%;
    width:50%;
}

@media only screen and (max-width: 1737px) {
  div.presentation-text-container{
    width:30%;
  }
}

@media only screen and (max-width: 1400px) {
  div.presentation-text-container{
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-80%, -50%);
    width:30%;
  }
}

@media only screen and (max-width: 1075px) {
  div.presentation-text-container{
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-130%, -50%);
    width:30%;
  }
}

@media only screen and (max-width: 825px) {
  div.presentation-text-container{
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-140%, -50%);
    width:30%;
  }
}

@media only screen and (max-width: 630px) {
  div.presentation-text-container{
    position: relative;
    -webkit-transform: translate(-70%, -50%);
    transform: translate(-200%, -50%);
    width: 350px;
  }
}


@media only screen and (max-width: 630px) {
  div.presentation-text-container{
    position: relative;
    -webkit-transform: translate(-70%, -50%);
    transform: translate(-250%, -50%);
    width: 350px;
  }
}