<div [@divState] class="presentation">
  <div class="presentation-image-container">
      <img class="presentation-image" src="{{mainImage}}"/>
  </div>
  <div class="presentation-text-container">
    <ng-content>

    </ng-content>
  </div>
</div>
