<div class="presentation-text">
      <h2 [@divState]>
                <ng-content select="[intro-heading]"></ng-content>
      </h2>
      <h3 [@divState2]>
            <ng-content select="[intro-body]"></ng-content>
      </h3>
</div>