
<prism-presentation [mainImage]="mainImage">
     <prism-intro-text>
      <div intro-heading>Contact us!</div>
      <div intro-body>
        <span class="blue-text">How?</span>
        <br>
        Email us at <span class="blue-text">prismsoft@yopmail.com</span>.
      </div>
    </prism-intro-text>
</prism-presentation>