.main-container{
    position: relative;
    margin-top:42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*left: -8px;*/
    height:800px;
    overflow: hidden;
}

.footer{
    text-align: center;
}

@media screen and (max-width:680px) {
    .main-container{
        max-width: 680px;
    }
}

@media screen and (max-width:360px) {
    .main-container{
        max-width: 360px;
    }
}