<div class="">
    <prism-header></prism-header>
</div>
<div class="bottom-border">
    <div class="main-container">
    <router-outlet></router-outlet>
    </div>
</div>
<div class="footer"><span>Powered by Angular 2</span></div>
