<prism-presentation [mainImage]="mainImage">
     <prism-intro-text>
      <div intro-heading>What we can do?</div>
      <div intro-body>
        <span class="blue-text">Anything!</span> 
        <br>
         We are practically <span class="blue-text">unstoppable</span> when it comes to software ...or bitchez!
      </div>
    </prism-intro-text>
</prism-presentation>
<div class="cards-container">
  <prism-spa-card-info></prism-spa-card-info>
  <prism-spa-card-info></prism-spa-card-info>
</div>