<prism-presentation [mainImage]="mainImage">
    <prism-intro-text>
        <div intro-heading>Our team!</div>
        <div intro-body>
          At <span class="blue-text">PrismSoft</span>, we have quality-minded staff, consisting of developers, who have the abilities and experience 
          to create successful solutions for your needs.
          <br> 
          We are confident that you will be <span class="blue-text">satisfied</span> with our <span class="blue-text">quality</span> service.
        </div>
     </prism-intro-text>
</prism-presentation>