<prism-presentation [mainImage]="mainImage">
    <prism-intro-text>
      <div intro-heading>Hi!</div>
      <div intro-body>
        We are a software company that can provide you with digital solutions, specializing in 
            <span class="blue-text">
                  Mobile <ng-content select="[intro-body]"></ng-content>
            </span> 
            and
            <span class="blue-text">Web</span>.
      </div>
    </prism-intro-text>
</prism-presentation>